/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }*/

body
{     /*background: #DCDDDF url('../images/contentBg.png');*/
        color: #000;
        font: 14px Arial;
        margin: 0px;
        padding: 0;
       
}

a        {text-decoration: none;}
a:hover  {text-decoration: underline;}

form:after
{       content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
}
.container {margin: 40px auto; position: relative; width: 900px; }
#content
{       background: #f9f9f9;
    	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
     	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
      	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
       -webkit-box-shadow: 0 1px 0 #fff inset;
       -moz-box-shadow: 0 1px 0 #fff inset;
       -ms-box-shadow: 0 1px 0 #fff inset;
       -o-box-shadow: 0 1px 0 #fff inset;
        box-shadow: 0 1px 0 #fff inset;
     	border: 2px solid #c4c6ca;
     	margin: 0 auto;
     	padding: 20px;
      	position: relative;
     	text-align: center;
     	text-shadow: 0 1px 0 #fff;
    	width: 350px;
}

#content:after,
#content:before 
{
    	background: #f9f9f9;
    	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
     	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
     	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
     	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
      	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
     	border: 1px solid #c4c6ca;
     	content: "";
     	display: block;
    	height: 100%;
     	left: -1px;
     	position: absolute;
        width: 100%;
}
#content:after 
{
       -webkit-transform: rotate(5deg);
       -moz-transform: rotate(5deg);
       -ms-transform: rotate(5deg);
       -o-transform: rotate(5deg);
     	transform: rotate(5deg);
     	top: 0;
    	z-index: -1;
}
#content:before 
{      -webkit-transform: rotate(-5deg);
       -moz-transform: rotate(-5deg);
       -ms-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    	top: 0;
     	z-index: -2;
}

#content form 
{       margin:0px; position: relative 
}

#content form input[type="text"],
#content form input[type="password"]
 
{      -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       -ms-border-radius: 3px;
       -o-border-radius: 3px;
    	border-radius: 3px;
       -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
       -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
       -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
       -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
        box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
   	transition: all 0.5s ease;
     	background: #eae7e7; /*url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;*/
   	border: 1px solid #c8c8c8;
	color: #777;
  	font: 14px Helvetica, Arial, sans-serif;
     	margin: 0px;
    	padding: 8px 8px 8px 35px;
      	width: 70%;
}



/*#content form input[type="texto"]*/
#content form select
{
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       -ms-border-radius: 3px;
       -o-border-radius: 3px;
        border-radius: 3px;
       -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
       -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
       -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
       -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
        box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
   	transition: all 0.5s ease;
     	background: #eae7e7;
   	border: 1px solid #c8c8c8;
	color: #777;
  	font: 14px Helvetica, Arial, sans-serif;
     	margin: 0px;
    	padding: 6px 8px 6px 6px;
      	width: 83%;
}

#content form input[type="text"]:focus,
#content form input[type="password"]:focus,
#content form select:focus
{      -webkit-box-shadow: 0 0 2px #1E1F2A inset;
       -moz-box-shadow: 0 0 2px #1E1F2A inset;
       -ms-box-shadow: 0 0 2px #1E1F2A inset;
       -o-box-shadow: 0 0 2px #1E1F2A inset;
    	box-shadow: 0 0 2px #1E1F2A inset;
    	background-color: #fff;
    	border: 1px solid #1E1F2A;
     	outline: none;
}

#usuario  {background-position: 2px 7px   !important }
#password {background-position: 2px -56px !important }

#content form input[type="button"] {
     	background: rgb(254,231,154);
 	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
   	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
       -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
       -ms-border-radius: 30px;
       -o-border-radius: 30px;
	border-radius: 30px;
       -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
       -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
       -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
       -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 0px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
}

#content form input[type="button"]:hover
{ 	background: rgb(254,193,81);
    	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}

#content form table a {
   	color: #004a80;
        font-size: 12px;
}

#xajax_msg
{  	color: #FF0000;
        font-size: 12px;
}

#RecovLogin
{       background: transparent url('../images/contentBg.png') repeat;
        visibility: hidden;
        position:absolute;
        text-align:center;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
}
