@font-face
{   /*
    font-family: "Raleway";
    src: url("../font/Raleway-Regular.ttf") format("truetype");
    */
}

/*caption, icon, menu, message-box, small-caption y status-bar */

html, body
{   margin : 0px;
    padding : 0px;
    font-family : Tahoma;
}