.special_button
    {    border:0px solid;
         border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
         cursor:pointer;
         outline:none;
         background: url('../../public/img/search_19.png') no-repeat center;
         
         height:24px;
         width: 24px;
    }

.addSch
    {    background-image: url('../../public/img/search_19.png');
         background-repeat: no-repeat;
         background-position: center;
    }
