   .barra_spaces
    {    background-color: #324257;
         border-bottom: 1px dotted;
         margin: 0px;
         height: 100%;
         padding-left: 5px;
         padding-top: 5px;
         padding-bottom: 5px;
    }

   .barra_button
    {    display: inline-block;
         background-color: #4C6483;
         border: 1px solid #485E7A;
         border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
         height:45px;
         width:50px;
         outline:none;
         margin-right: 4px;
    }

   .barra_button:active
    {    border: 1px ridge #485E7A;
         border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

   .barra_button:hover
    {    cursor: pointer;
    }

    .addNew
    {    background-image: url('../../public/img/nuevo.png');
         background-repeat: no-repeat;
         background-position: center;
    }

    .addMod
    {    background-image: url('../../public/img/modifica.png');
         background-repeat: no-repeat;
         background-position: center;
    }
    
    .addDel
    {    background-image: url('../../public/img/elimina.png');
         background-repeat: no-repeat;
         background-position: center;
    }
    
    .addSav
    {    background-image: url('../../public/img/guarda.png');
         background-repeat: no-repeat;
         background-position: center;
    }
    
    .addCan
    {    background-image: url('../../public/img/cancela.png');
         background-repeat: no-repeat;
         background-position: center;
    }
    
    .addImp
    {    background-image: url('../../public/img/PDF.png');
         background-repeat: no-repeat;
         background-position: center;
    }

    .addExp
    {    background-image: url('../../public/img/excel.png');
         background-repeat: no-repeat;
         background-position: center;
    }

    .addPdf
    {    background-image: url('../../public/img/PDF.png');
         background-repeat: no-repeat;
         background-position: center;
    }

/*
#AddUploa
{        background: url('../img/upload.png') no-repeat center;
}
#AddClose
{        background: url('../img/cierre.png') no-repeat center;
}
#AddFiltr
{        background: url('../img/filter.png') no-repeat center;
}
#AddRefrs
{        background: url('../img/actualiza.png') no-repeat center;
}
#AddAlert
{        background: url('../img/alertar.png') no-repeat center;
}
#AddBuzon
{        background: url('../img/buzon.png') no-repeat center;
}
#AddBusca
{        background: url('../img/buscar.png') no-repeat center;
}
#AddMails
{        background: url('../img/mail.png') no-repeat center;
}
#AddRetur
{        background: url('../img/retornar.png') no-repeat center;
}
#AddObser
{        background: url('../img/observa.png') no-repeat center;
}
#AddMailc
{        background: url('../img/mailcitas.png') no-repeat center;
}
#AddBenef
{        background: url('../img/beneficiario.png') no-repeat center;
}
#AddHerra
{        background: url('../img/herramienta.png') no-repeat center;
}
#AddCalen
{        background: url('../img/calendar.png') no-repeat center;
}

#AddLeftb
{        background: url('../img/prev.png') no-repeat center;
}
#AddRighb
{        background: url('../img/next.png') no-repeat center;
}
#AddLastb
{        background: url('../img/last.png') no-repeat center;
}
#AddFirsb
{        background: url('../img/first.png') no-repeat center;
}
#AddXlss
{        background: url('../img/xls_excel.png') no-repeat center;
}
#AddCsvf
{        background: url('../img/xls_csv.png') no-repeat center;
}
*/
