        .sel-input
         {        border: 1px solid #CCC;
                  cursor: pointer;
         }

        .txt-upper, .txt-right, .txt-center
         {        text-transform:uppercase;
         }

        .txt-input, .txt-upper, .txt-right, .txt-center
         {        height: 15px;
         }
         
        .txt-right 
        {         text-align: right;
        }
        
        .txt-center  
        {         text-align: center;
        }
         
        .txt-input, .sel-input, .txt-upper, .txt-right, .txt-center
         {        border: 1px solid #CCC;
                  border-radius: 3px;
                 -moz-border-radius: 3px;
                 -webkit-border-radius: 3px;
                  padding: 3px;
                  font-size: 8pt;
         }

        .sel-input:focus, .txt-input:focus, .txt-upper:focus, .txt-right:focus, .txt-center:focus
         {        box-shadow:0 0 5px #ffffff;
                 -moz-box-shadow:0 0 5px #ffffff;
                 -webkit-box-shadow:0 0 5px #ffffff;
                  outline:none;
         }

        .p-txt-label
        {       border: 0px solid; 
                color: #444; 
                margin: 0px;
                font-size: 8pt; 
        }
        
       .p-txt-label-bold
        {       border: 0px solid; 
                color: #444; 
                margin: 0px;
                font-size: 8pt; 
                font-weight:bold;
        }
        
        .p-txt-label-Red
        {       border: 0px solid; 
                color: red; 
                margin: 0px;
                font-weight:normal;
                font-size: 8pt; 
        }

        
         /********** Medidas standards ********************/
         
         .t01 {   width:  25px;  }
         .t02 {   width:  50px;  }
       .t02_3 {   width:  60px;  }
       .t02_5 {   width:  65px;  }
         .t03 {   width:  75px;  }
         
         .t04 {   width: 100px;  }
         .t04_1 {   width: 117px;  }
         .t05 {   width: 125px;  }
         .t06 {   width: 150px;  }
         .t07 {   width: 175px;  }
         .t08 {   width: 200px;  }
       .t08_1 {   width: 209px;  }
         .t09 {   width: 225px;  }
         .t10 {   width: 250px;  }
         .t11 {   width: 275px;  }
         .t12 {   width: 300px;  }
         .t13 {   width: 325px;  }
         .t14 {   width: 350px;  }
         .t15 {   width: 375px;  }
         .t16 {   width: 400px;  }
         .t17 {   width: 425px;  }
         .t18 {   width: 450px;  }
         .t19 {   width: 475px;  }
         .t20 {   width: 500px;  }
         .t21 {   width: 525px;  }
         .t22 {   width: 550px;  }
         .t23 {   width: 575px;  }         
         .t24 {   width: 600px;  }         
         .t25 {   width: 625px;  }         
         .t26 {   width: 650px;  }                  
         .t27 {   width: 675px;  }                           
         .t28 {   width: 700px;  }      
         
         .t29 {   width: 725px;  }         
         .t30 {   width: 750px;  }         
         .t31 {   width: 775px;  }                  
         .t32 {   width: 800px;  }                           
         .t33 {   width: 825px;  }           
         
         .t34 {   width: 850px;  }         
         .t35 {   width: 875px;  }         
         .t36 {   width: 900px;  }                  
         .t37 {   width: 925px;  }                           
         .t38 {   width: 950px;  }           



         .s01 {   width:  33px;  }
         .s02 {   width:  58px;  }
         .s03 {   width:  83px;  }
         .s04 {   width: 108px;  }
         .s05 {   width: 133px;  }
         .s06 {   width: 158px;  }
         .s07 {   width: 183px;  }
         .s08 {   width: 208px;  }
         .s09 {   width: 233px;  }
         .s10 {   width: 258px;  }
         .s11 {   width: 283px;  }
         .s12 {   width: 308px;  }
         .s13 {   width: 333px;  }
         .s14 {   width: 358px;  }
         .s15 {   width: 383px;  }
         .s16 {   width: 408px;  }
         .s17 {   width: 433px;  }
         .s18 {   width: 458px;  }
         .s19 {   width: 483px;  }
         .s20 {   width: 508px;  }

