.FormContainer
{      border: 0px dotted #324257;
       margin: 5px auto; /*top right bottom left*/   
}

.FormContainerSeccion
 {      vertical-align:top;
        display: inline-block;
        border:  0px dotted #324257;
 }
 
.FormBasic
 {      background-color:#003263;
            background:-moz-linear-gradient(90deg, #003263, #888CAA);
           background:-webkit-gradient(linear, left top, left bottom, from(#003263), to(#888CAA));

        border:0px solid #324257;
        border-radius:5px;
       -moz-border-radius:5px;
       -webkit-border-radius:5px;

        box-shadow:0 0 7px #888CAA;
       -moz-box-shadow:0 0 7px #888CAA;
       -webkit-box-shadow:0 0 7px #888CAA;
        margin: 10px auto 0 auto; /*top right bottom left*/
 }



 .FormBasicCenter
 {      margin: calc(100%/10) auto 0 auto; /*top right bottom left*/

        background-color:#003263;
            background:-moz-linear-gradient(90deg, #003263, #888CAA);
           background:-webkit-gradient(linear, left top, left bottom, from(#003263), to(#888CAA));

        border:0px solid #324257;
        border-radius:5px;
       -moz-border-radius:5px;
       -webkit-border-radius:5px;

        box-shadow:0 0 7px #888CAA;
       -moz-box-shadow:0 0 7px #888CAA;
       -webkit-box-shadow:0 0 7px #888CAA;
 }
 
 
.FormSectionMenu {  width: 100%; }

.FormSectionGrid, .FormSectionFoot, .FormSectionData
 {      padding-bottom: 10px;
 }

.FormSectionTitle, .FormSectionData, .FormSectionGrid, .FormSectionFoot  
 {      padding-left:   10px;
        padding-right:  10px; 
        padding-top:    10px;
 }
 
.Form-Frame
 {      width: 100%;
        border: 0px; 
        border-collapse: collapse;
 }
 
.Form-Label, .Form-Label-Regular, .Form-Label-Center, .Form-Label-Center-Regular, .Form-Label-Right, .Form-Label-Right-Regular
 {      font-size: 9pt; 
        color: #FFF;
 }

.Form-Label, .Form-Label-Center, .Form-Label-Right
 {      font-weight: bold;
 }  

 .Form-Label-Center, .Form-Label-Center-Regular
 {      text-align: center; 
 }

 .Form-Label-Right, .Form-Label-Right-Regular
 {      text-align: right; 
 }
 
 
 .Form-Title
 {      margin: 0px; 
        padding-bottom: 5px;
        border-bottom: 1px solid #bbb;
        color: #FFF;
        font-size: 14pt;
        font-weight: bold;
        text-shadow: 3px 0px 5px  #003263;
 }