
   .FileUpload
    {       position: relative;
            width: 24px;
            height: 24px;
            overflow:hidden;
            background:url('../../public/img/agregar.png') left top no-repeat;
            background-position: 2px 2px !important;
            clip:rect(0px, 24px, 24px, 0px );
            border-radius:3px;
           -moz-border-radius:3px;
           -webkit-border-radius:3px;
            outline: none;
    }
    
   .FileUpload input.BtnUp
    {       position: absolute;
            top: 0;
     	    right: 0;
      	    margin: 0;
     	    padding: 0;
    	    font-size: 20px;
            cursor: pointer;
	    opacity: 0;
            filter: Alpha(Opacity=0);
           -moz-opacity: 0;
    }
    
    /*
    input[type=text]
    {       width: 250px;
            height: 16px;
            padding:4px;
            background: rgba(255, 255, 255, 0.9);
            background:-moz-linear-gradient(90deg, #fff, #eee);
     	    background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff));
     	    border:1px solid #555555;
            border-radius:3px;
           -moz-border-radius:3px;
     	   -webkit-border-radius:3px;
            font-size: 11px;
            text-transform:uppercase;
    }
    
    input[type=text]:focus,select:focus
    {       box-shadow:0 0 5px #ffffff;
      	   -moz-box-shadow:0 0 5px #ffffff;
     	   -webkit-box-shadow:0 0 5px #ffffff;
      	    outline:none;
    }*/
 
   .UploadBtn
    {       background: rgb(254,231,154);
  	    background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
      	    background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	    background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    	    background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	    background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
     	   -webkit-border-radius: 30px;
    	   -moz-border-radius: 30px;
    	   -ms-border-radius: 30px;
    	   -o-border-radius: 30px;
    	    border-radius: 30px;
    	   -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    	   -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    	   -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    	   -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    	    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    	    border: 1px solid #D69E31;
    	    color: #85592e;
    	    cursor: pointer;
    	    font: bold 15px Helvetica, Arial, sans-serif;
    	    height: 30px;
    	    width: 80px;
    	    margin: 0px;
    	    position: relative;
    	    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }

   .UploadBtn:hover
    {       background: rgb(254,193,81);
            background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	    background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	    background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
     	    background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	    background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0);
    }      

