   .modalBase
    {     display: block;
          position: fixed;
          z-index: 10000;
          margin: 0 auto;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0,0.2);
    }
    
   .modalDocu
    {     border: 1px solid #ccc;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          border-radius: 4px;

          background-color: #ddd;
          background-image: -moz-linear-gradient(100% 100% 98deg, #eee,#bbb);
          background-image: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#bbb) );
          filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eee', EndColorStr='#bbb');

          position: relative;
          margin: auto;
          top:15%;
          padding: 0px;

         -webkit-animation-name: animatetop;
         -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s
    }

   .modalCapt
    {     float:left;
          padding:0px;
          margin :0px;
          width:100%;
          height:35px;
          background-color: #253140;
          border-radius: 4px;
    }

   .modalClos
    {     position: absolute;
          top: 0px;
          right: 10px;
          color: #999;
          font-size: 25px;
          transition: 0.3s;
    }

   .modalClos:hover, .modalClos:focus
    {     color: #eee;
          text-decoration: none;
          font-weight: bold;
          cursor: pointer;
    }

   .modalTitl
    {     margin-top: 6px;
          margin-left:10px;
          width: 95%;
          font-size: 13px;
          color: #fff;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
          font-weight: bold;
          line-height: 23px;
    }

    @-webkit-keyframes animatetop
    {    from {top:-300px; opacity:0}
         to   {top: 0px;   opacity:1}
    }
    
    @keyframes animatetop
    {    from {top:-300px; opacity:0}
         to   {top: 0px;   opacity:1}
    }
    
    @media only screen and (max-width: 700px)  /* 100% Image Width on Smaller Screens */
    {     .modalDocu
           {   width: 100%;
           }
    }
