.SchTxt 
 {  border-top: 1px dotted RGB(255,255,255);
    border-bottom: 1px dotted RGB(255,255,255);
    width: 100%;
    height: 30px;
    background-color: #CCC;
    float:left;
 }
.SchTxtLab
 {  width: 100px;
    font-size: 10pt;
    font-weight: bold;
    margin: 7px 0px 0px 0px;
 }

.SchTxtBtn
 {  width: 40px;
 }

.SchTxtFnd, .SchTxtBtn
 {  margin: 3px 0px 0px 0px;
 }

.SchTxtBtn, .SchTxtFnd, .SchTxtLab
 {  text-align:center;
    float:left;
 }

/******************************************************************************/ 

.SchCab
 {  background-color: RGB(33, 117, 172);
    border-top: 2px solid RGB(35,99,140); 
    float:left;
 }

 .SchDet
 {  overflow-y: scroll; /*overflow: hidden;*/ /*height: auto;*/
    background-color: #FFF;
 }

.SchCab, .SchDet
 {  width: 100%;
    border-bottom: 2px solid RGB(35,99,140);
 }   

/******************************************************************************/ 
 
.SchGrdCab
 {  
    color: RGB(255,255,255);
 }
 
.SchGrdDet, .WrkGrdDet
 {  
    color: RGB(0,0,0);
 }
 
 .SchGrdCab, .SchGrdDet, .WrkGrdDet
 {  border-collapse:collapse;
    text-transform: uppercase;
 }

/******************************************************************************/ 
 
   .SchGrdCabCell 
    {   border-left: 1px solid RGB(35,99,140);
        border-right: 1px solid RGB(35,99,140);
        text-align: center;
        font-size: 8pt;
    }
    
    .SchGrdCobCell 
    {   background-color: RGB(225,225,225);
        border-left:  1px solid RGB(235,235,235);
        border-right: 1px solid RGB(235,235,235);
        border-top:   2px solid RGB(35,99,140);
        text-align:   center;
        font-size:    8pt;
    }
    
    

   .SchGrdCab td:first-child { border-left:  0px; } /*.SchGrdCab td:last-child  { border-right: 0px; } */
  
   .SchGrdDetCell, .WrkGrdDetCell, .WrkGrdDetCellOP
    {   border-left: 1px solid RGB(228,228,228);
        border-right: 1px solid RGB(228,228,228);
        border-bottom: 1px solid RGB(228,228,228);
        font-size: 8pt;
    }

   .SchGrdDet td:first-child {  border-left: 0px;  }
   .SchGrdDet tr:nth-child(2n+1) { background-color: RGB(245, 245, 245); }  /*.SchGridDet td:last-child  {  border-right: 0px; }*/

   .SchGrdDet tr:hover
    {   background-color: #DCD6F9;
        cursor: pointer;
    }

   .WrkGrdDet td:first-child {  border-left: 0px;  }
   .WrkGrdDet tr:nth-child(2n+1) { background-color: RGB(245, 245, 245); }

   .WrkGrdDetCell:hover
    {   background-color: #DCD6F9; /*cursor: pointer;*/
    }

   .WrkGrdDetCellOP:hover
    {   background-color: #DCD6F9;
        cursor: pointer;
    }
    
   .SchGrdMessage
    {   text-align:center;
        font-size : 9pt;
        font-weight: bold;
        color: #716e6d;
        margin:5px;
        height:19px;
        width:98%;
        border: 0px dotted #000;
    }
