        .txt-search
         {        border: 1px solid #CCC;
                  border-radius: 3px;
                 -moz-border-radius: 3px;
                 -webkit-border-radius: 3px;
                  display: inline-flex;
                  background-color: #ccc;
         }
         
        .txt-input-search
         {        border:    none;
                  padding:   3px;
                  height:   15px;
                  font-size: 8pt;
                  text-transform: uppercase;
         }
        
        .txt-boton-search
         {        border: none;
                  width:  25px;
                  height: 20px;
                  /*background-color: #ccc;*/
                  background-image: url(../../public/img/busqueda_2.png);
                  background-repeat: no-repeat;
                  background-position: center;
         }
         
        .txt-boton-success
         {        border: none;
                  width:  25px;
                  height: 20px;
                  /*background-color: #ccc;*/
                  background-image: url(../../public/img/exito.png);
                  background-repeat: no-repeat;
                  background-position: center;
         }
        
        .txt-boton-carga
         {        border: none;
                  width:  25px;
                  height: 20px;
                  /*background-color: #ccc;*/
                  background-image: url(../../public/img/carga.png);
                  background-repeat: no-repeat;
                  background-position: center;
         }

        .txt-boton-descarga
         {        border: none;
                  width:  25px;
                  height: 20px;
                  /*background-color: #ccc;*/
                  background-image: url(../../public/img/descarga.png);
                  background-repeat: no-repeat;
                  background-position: center;
         }
         
        .txt-boton-success:hover, .txt-boton-search:hover, .txt-boton-carga:hover, .txt-boton-descarga:hover
        {         cursor: pointer;  
        }
         
        .txt-boton-sintaxis
         {      border: 1px solid #aaa;
                width:  27px;
                height: 25px;
                background-image: url(../../public/img/tools_sxt.png);
                background-repeat: no-repeat;
                background-position: center;
         }
        
       .txt-boton-aplicar
        {       border: 1px solid #aaa;
                width:  27px;
                height: 25px;
                background-image: url(../../public/img/fomulador.png);
                background-repeat: no-repeat;
                background-position: center;
        }
        
       .txt-boton-sintaxis:hover, .txt-boton-aplicar:hover
        {       cursor: pointer;  
        }
         
        
         