    .SeccionMain
    {   border-collapse: collapse; 
        width:100%; 
        height: 100%;
    }

    .SeccionMenu
    { /*background-color: cyan; */
        vertical-align: top;
        padding : 3px 5px 3px 5px; /*top right bottom left*/        
    }
    
   .SeccionSolapa 
    { /*background-color: red; */
        border-bottom : 1px dotted #000;
        padding : 3px 0px 5px 5px;
    }

    #solapas
    {   cursor:pointer;
        padding:3px;
        border:1px solid #555555;
        border-radius:3px;
       -moz-border-radius:3px;
       -webkit-border-radius:3px;
    }

   .SeccionContenido 
    {   border: 0px dotted #000000;
      /*background-color: #485E7A; */
        width : 100%;
        height: 100%;
      /*position : absolute;*/
    }
    
    #SeccionContenido 
    { /*background-color: #485E7A; */
        height: 100%;
    }
